<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicita tu Presupuesto - TechNova</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Patrick+Hand&display=swap" rel="stylesheet"></head>
<body>
    <header>
        <a href="../index.html">
            <img src="../img/iconoTN.png" alt="Mi Logo" id="logoTN">
        </a>
        <nav>
            <ul>
                <li class="nombre">TechNova</li>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="productos.html">Servicios</a></li>
                <li><a href="presupuesto.html" class="active">Presupuesto</a></li>
                <li><a href="contacto.html" >Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="presupuestoH1">Solicita tu presupuesto</h1>
        <p class="presupuestoDescripcion">
            Completa el siguiente formulario y recibe un presupuesto personalizado sin compromiso.<br>
            Indícanos tus necesidades y nuestro equipo te contactará lo antes posible con una propuesta adaptada a ti. <br>
            ¡Estamos aquí para ayudarte!
        </p>
        <form action="#" method="post"> 
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="phone">Teléfono:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="info">Solicite más información:</label>
            <textarea id="info" name="info" required></textarea>
            <label>
                <input type="checkbox" name="privacy" required> Acepto la Política de privacidad
            </label>
            <button type="submit">Enviar</button> <!-- Botón para enviar el formulario -->
        </form>
    </main>
    <footer>
        <p>© 2020 TechNova Web Design | <a href="#">Aviso legal</a></p>
        <div>
            <a href="https://facebook.com" target="_blank" >Facebook</a> | 
            <a href="https://instagram.com" target="_blank" >Instagram</a> | 
            <a href="https://linkedin.com" target="_blank" >LinkedIn</a>
        </div>
    </footer>
</body>
</html>